*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: white;
    
}

.container{
    width: 350px;
    height: auto;
    box-shadow: 0 10px 20px;
    background-color: #1d3557;
    margin: 50px auto 30px;
    border-radius: 10px;
    padding: 40px 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#script-container{
    padding: 50px 20px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #fb8500;
    width: 100%;
    font-size: 1.5rem;
    
}

#verse{
    width: 100%;
    color: #fffcf2;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#quote{
    line-height: 1.8rem;
    /* padding: 10px;
    margin-bottom: 20px; */
    width: 100%;
    font-size: 1.3rem;
    /* border: 1px solid white; */
    /* margin-bottom: 20px; */
    color: #fb8500;
}

#generate-el{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 5px 12px;
    background-color: #344e41;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #fb8500;
}

@media (max-width: 300px){
    .container{
        width: 400px;
        height: 100%;
    }
    #quote-el{
        margin: 30px 0;
    }
}